:root {
  --component-width: 300px;
  --component-height: 300px;
}

.menu-wrapper .menu {
	display: flex;
  justify-content: space-around;
	flex-direction: row;
  flex-wrap: wrap;
	text-align: center;
	margin: 2rem auto;
	width: 100%;
	height: 100%;
	position: relative
}

.menu-wrapper .menu-items {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-wrapper .menu h2 {
	color: green;
	font-size: xx-large;
}

.menu-wrapper .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #70AD47;
  height: 50px;
  position: sticky;
	top: 0;
	width: 100%;
	z-index: 1
}

.menu-wrapper .social-media-wrapper {
	margin: 2rem auto;
	text-align: center;
}

.menu-wrapper .social-media-wrapper > h2 {
	margin: 4rem auto;
	padding: 0 1rem;
}

.menu-wrapper .social-media {
  display: flex;
  justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 4rem auto;
	width: 100%;
	max-width: 1000px;
}

.menu-wrapper .social-media a {
	width: 15%;
	min-width: 110px;
	max-width: 150px;
	margin: 0.5rem;
}

.menu-wrapper .social-media img {
	width: 100%;
}

@media (min-width: 630px) {
  :root {
    --component-width: 500px;
    --component-height: 500px;
  }
}

@media (min-width: 1200px) {
  :root {
    --component-width: 700px;
    --component-height: 700px;
  }
}
