:root {
  --component-width: 300px;
  --component-height: 300px;
}

.menu {
	display: flex;
  justify-content: space-around;
	flex-direction: row;
  flex-wrap: wrap;
	text-align: center;
	margin: 2rem auto;
  width: 100%;
}

.menu-items {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vertical-divider {
	width: 2px;
	height: 100vh;
	background-color: brown;
	position: relative;
	top: 2rem;
}

h2 {
	color: green;
	font-size: xx-large;
}

h2:nth-of-type(2),
h2:nth-of-type(3),
h2:nth-of-type(4),
h2:nth-of-type(5),
h2:nth-of-type(6) {
	width: 45vw;
	height: 2px;
	background-color: rgb(0, 0, 0);
	position: relative;
	bottom: 3rem;
	margin-top: 3.5rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #70AD47;
  height: 50px;
  position: sticky;
	top: 0;
	width: 100%;
	z-index: 1
}

.social-media-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.social-media span {
  margin: 0.5rem auto;
  font-size: 9rem;
  flex-basis: 33%;
}


@media (max-width: 376px) {
	h2:nth-of-type(1),
	h2:nth-of-type(2),
	h2:nth-of-type(3),
	h2:nth-of-type(4),
	h2:nth-of-type(5),
	h2:nth-of-type(6) {
		width: 81vw;
		height: 2px;
		background-color: rgb(0, 0, 0);
		position: relative;
		bottom: 3rem;
		margin-top: 3.5rem;
	}
}

@media (max-width: 769px) {
	.social-media span {
		flex-basis: 15%;
	}
}

@media (min-width: 630px) {
  :root {
    --component-width: 500px;
    --component-height: 500px;
  }
}

@media (min-width: 1200px) {
  :root {
    --component-width: 700px;
    --component-height: 700px;
  }

  .social-media span {
    flex-basis: auto;
  }
}
