:root {
  --component-width: 300px;
  --component-height: 300px;
}

.menu-wrapper .menu {
	display: flex;
  justify-content: space-around;
	flex-direction: row;
  flex-wrap: wrap;
	text-align: center;
	margin: 2rem auto;
	width: 100%;
	height: 100%;
	position: relative
}

.menu-wrapper .menu-items {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*
.menu-wrapper .vertical-divider {
	width: 2px;
	height: 100%;
	background-color: brown;
	position: absolute;
} */

.menu-wrapper .menu h2 {
	color: green;
	font-size: xx-large;
}

.menu-wrapper .menu h2:nth-of-type(2),
.menu-wrapper .menu h2:nth-of-type(3),
.menu-wrapper .menu h2:nth-of-type(4),
.menu-wrapper .menu h2:nth-of-type(5),
.menu-wrapper .menu h2:nth-of-type(6) {
	width: 45vw;
	height: 2px;
	background-color: rgb(0, 0, 0);
	position: relative;
	bottom: 3rem;
	margin-top: 3.5rem;
}

.menu-wrapper .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #70AD47;
  height: 50px;
  position: sticky;
	top: 0;
	width: 100%;
	z-index: 1
}

.menu-wrapper .social-media-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
}

.menu-wrapper .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.menu-wrapper .social-media a {
	margin: 0.5rem auto;
	width: 15%;
	min-width: 110px;
}

.menu-wrapper .social-media img {
	width: 100%;
}

@media (min-width: 630px) {
  :root {
    --component-width: 500px;
    --component-height: 500px;
  }
}

@media (min-width: 1200px) {
  :root {
    --component-width: 700px;
    --component-height: 700px;
  }
}
