/* .flex-grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
} */

/* .image {
  width: 97%;
  height: 350px;
  border-radius: 5px;
}

.photo {
  align-items: center;
  background-color: white;
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-right: 4rem;
  width: 390px;
  height: 361px;
  margin: 5px;
} */

.photo {
   /* Prevent vertical gaps */
  -webkit-column-count: 3;
  -webkit-column-gap:   4px;
  -moz-column-count:    3;
  -moz-column-gap:      4px;
  column-count:         3;
  column-gap:           4px;
  margin: 25px;
}

.image {
  border-radius: 5px;
  border-color: black;
  width: 100% !important;
  height: auto !important;
  box-shadow:
    -1px -1px 5px 0 rgba(114, 114, 114, 0.25),
    1px 1px 10px 0 rgba(255, 254, 182, 0.3);
}

@media (max-width: 1200px) {
  .photo {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  .photo {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .photo {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .photo {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
