.hero-image header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1280px) {
  .jss127 {
    height: 89vh !important;
  }
}
@media only screen and (min-width: 1535px) {
  .jss127 {
    height: 70vh !important;
  }
}
