.hero-image-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image-wrapper .hero-image  {
  display: flex;
  justify-content: center;
  align-items: center;
}
