.hero-image header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
