:root {
  --component-width: 300px;
  --component-height: 300px;
}

.home {
  text-align: center;
}

.home .carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.home .carousel {
  border: 1px solid black;
  width: var(--component-width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .social-media-wrapper-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.home .social-media-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: var(--component-width);
}

.home .carousel span {
  margin: auto 0.5rem;
  font-size: 3rem;
}

.home .social-media-home span {
  margin: 0.5rem auto;
  font-size: 5rem;
  flex-basis: 33%;
}

@media (min-width: 630px) {
  :root {
    --component-width: 500px;
    --component-height: 500px;
  }
}

@media (min-width: 1200px) {
  :root {
    --component-width: 700px;
    --component-height: 700px;
  }

  .home .social-media span {
    flex-basis: auto;
  }
}
