.contact-page {
  display: flex;
  justify-content: center;
}

.contact-page h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.contact-page .contact-info {
  width: 80%;
}

.contact-page .contact-info>* {
  margin-bottom: 3rem;
}

.contact-page .address {
  text-align: center;
}

.contact-page iframe {
  width: 100%;
  height: 300px;
  border-style: none;
}

@media (min-width: 1200px) {
  .contact-page .contact-info {
    width: 50%;
  }

}
