
.navbar .active .nav-link {
  font-weight: bolder;
  text-decoration: underline;
}

.navbar a {
  color: black;
}

.navbar a:link,
.navbar a:visited,
.navbar a:hover,
.navbar a:active {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #70AD47;
  height: 60px;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  border: 1px solid black;
  border-radius: 10px;
  height: 60px;
}

.navbar .nav-link {
  font-size: 1.5rem;
  cursor: pointer;
  transition: ease 0.25s;
}

.navbar .nav-link:hover {
  transform: scale(1.3);
  font-weight: bold;
}
