.carousel-wrapper {
    margin: 2rem auto;
    padding: 20px;
    width: 80%;
}

.alice-carousel__prev-btn [data-area]::after,
.alice-carousel__next-btn [data-area]::after {
    color: white
}

.alice-carousel {
    min-height: 100px;
}

.image1 {
    width: 80vw;
    height: 44vh;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    position: relative;
    bottom: 20rem;
    width: 49% !important;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
    font-size: clamp(60px, 85px, 85px);
    width: 60%;
}

.alice-carousel__next-btn-item {
    text-align: center;
}

.alice-carousel__prev-btn-item {
    text-align: left;
    color: white;
}

@media (max-width: 376px) {
    .image1 {
        width: 80vw;
        height: 33vh;
    }
    .alice-carousel {
        max-height: 282px;
        width: 100%;
    }
    .alice-carousel__prev-btn-item,
    .alice-carousel__next-btn-item {
        width: 145%;
    }
}


@media (min-width: 769px) {
    .image1 {
        width: 45vw;
        height: 57vh;
    }
    .alice-carousel {
        height: 59vh;
        width: 95%;
    }
    .alice-carousel__next-btn {
        position: relative;
        width: 28% !important;
    }
}

@media (max-width: 768px) {
   .alice-carousel {
        height: 46vh;
        width: 95%;
    }
    .alice-carousel__prev-btn,
    .alice-carousel__next-btn {
        bottom: 22rem;
    }
}

@media (min-width: 800px) {
   .image1 {
        width: 45vw;
        height: 57vh;
    }
}


@media (max-width: 376px) {
    .alice-carousel__prev-btn,
    .alice-carousel__next-btn {
        position: relative;
        bottom: 17rem;
    }
}
