.carousel-wrapper {
    margin: 2rem auto;
    padding: 20px;
    width: 80%;
}

.alice-carousel__prev-btn [data-area]::after,
.alice-carousel__next-btn [data-area]::after {
    color: white
}

.alice-carousel {
    min-height: 100px;
}

.image1 {
    width: 80vw;
    height: 44vh;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    position: relative;
    bottom: 20rem;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
    width: 100%;
    font-size: 70px;
    padding: 0px !important;
}

.alice-carousel__prev-btn-item {
    text-align: left;
    color: white;
}

.alice-carousel__next-btn-item {
    text-align: right;
}

@media (max-width: 375px) {
    .image1 {
        width: 80vw;
        height: 31vh;
    }
    .alice-carousel {
        max-height: 282px;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .image1 {
        width: 70vw;
        height: 77vh;
    }
    .alice-carousel {
        height: 81vh;
        width: 95%;
    }
    .alice-carousel__prev-btn,
    .alice-carousel__next-btn {
        width: 45%
    }
}

@media (max-width: 768px) {
   .alice-carousel {
        height: 46vh;
        width: 95%;
    }
}


@media (max-width: 376px) {
    .alice-carousel__prev-btn,
    .alice-carousel__next-btn {
        position: relative;
        bottom: 16rem;
    }
}
