.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    height: 100vh;
}

.image1 {
    width: 100%;
    min-height: 510px;
    max-height: 511px;
    object-fit: cover;
}

@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}
@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}
@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}
* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
}
*::-webkit-scrollbar {
    width: 0;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}
* {
    -ms-overflow-style: none;
}
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.carousel {
    position: relative;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    height: 0;
    border: none;
}

.carousel__viewport {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
}
.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
    min-height: 600px;
    max-height: 511px;
    object-fit: cover;
}
.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}
@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}
@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}
.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}
.carousel__navigation {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.carousel__navigation-button-left {
    background-image: url("../images/baseline_arrow_back_ios_black_18dp.png");
    margin-left: 5px;
}

.carousel__navigation-button-right {
    background-image: url("../images/baseline_arrow_forward_ios_black_18dp.png");
}

.material-icons {
    color: rgba(255, 255, 255, 1);
}

.carousel::before,
.carousel__prev {
    left: -1rem;
}
.carousel::after,
.carousel__next {
    right: -1rem;
}

/* @media only screen and (max-width: 376px) {
    .carousel__viewport  {
        height: 79.1vh;
    }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
    .carousel__viewport  {
        height: 51.5vh;
    }
} */
