.carousel-wrapper {
    margin: 2rem auto;
    padding: 20px;
    width: 80%;
}

.alice-carousel__prev-btn [data-area]::after,
.alice-carousel__next-btn [data-area]::after {
    color: black
}

.alice-carousel {
    height: 488px;
}

.image1 {
    width: 60vw;
    height: 80vh;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    position: relative;
    bottom: 20rem;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
    width: 100%;
    font-size: 70px;
}

.alice-carousel__prev-btn-item {
    text-align: left;
    color: white;
}

.alice-carousel__next-btn-item {
    text-align: right;
}

@media (max-width: 800px) {
    .image1 {
        width: 60vw;
        height: 40vh;
    }
    .alice-carousel {
        height: 440px;
    }
}

@media (max-width: 400px) {
    .image1 {
        width: 80vw;
        height: 45vh;
    }
    .alice-carousel {
        height: 343px;
    }
}

@media (max-width: 1263px) {
    .alice-carousel {
        height: 410px;
    }
}
