.home {
    text-align: center;
}
.carousel-wrapper {
    margin: 2rem auto;
    padding: 20px;
    width: 80%;
}
.alice-carousel__prev-btn [data-area]::after,
.alice-carousel__next-btn [data-area]::after {
    color: #70AD47;
}
.alice-carousel {
    min-height: 100px;
}
.carousel-image {
    top: 0; left: 0; max-width: 100%;
    height: 67vh;
    filter: drop-shadow(0 0 0.20rem black);
}
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    position: absolute;
    display: block;
    width: 1%;
    left: 30rem;
}
.alice-carousel__prev-btn {
    text-align: center;
}
.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
    font-size: clamp(60px, 85px, 85px);
}
.alice-carousel__next-btn-item {
    text-align: right;
    width: 70%;
}
.alice-carousel__prev-btn-item {
    text-align: left;
    position: relative;
}
.alice-carousel__prev-btn [data-area]::after {
    right: 20rem;
}
.alice-carousel__next-btn [data-area]::after {
    left: 15rem;
}
@media (max-width: 400px) {
    .alice-carousel {
        max-height: 230px;
        width: 100%;
    }
    .alice-carousel__next-btn,
    .alice-carousel__prev-btn {
        display: none;
    }
    .carousel-wrapper {
        margin: 2rem auto;
        padding: 0px !important;
        width: 96%;
    }
    li {
        width: 344.24px
    }
}
@media (min-width: 769px) {
    .alice-carousel {
        height: 53vh;
        width: 95%;
    }

}

@media (max-width: 768px) {
    .alice-carousel {
        height: 40vh;
        width: 95%;
    }
    .carousel-image{
        width: 95vw;
        height: 50vh;
    }
    span {
        display: none;
    }
}

@media (min-width: 1000px) {
    .alice-carousel__prev-btn-item,
    .alice-carousel__next-btn-item {
        width: 60%
    }
    .alice-carousel__prev-btn [data-area]::after {
        width: 26rem;
        bottom: 20.5rem;
    }
    .alice-carousel__next-btn [data-area]::after {
        width: 9rem;
        bottom: 20.5rem;
    }
    .alice-carousel {
        height: 49vh
    }
}
@media (min-width: 1257px) {
    .alice-carousel__prev-btn [data-area]::after {
        right: 25vw;
        bottom: 20.5rem;
    }
    .alice-carousel__next-btn [data-area]::after {
        left: 19vw;
        bottom: 20.5rem;
    }
}
@media (min-width: 1500px) {
    .alice-carousel__prev-btn,
    .alice-carousel__next-btn {
        bottom: 4rem;
    }
    .alice-carousel__prev-btn [data-area]::after {
        right: 18rem;
        bottom: 1rem;
    }
    .alice-carousel__next-btn [data-area]::after {
        left: 25rem;
        bottom: 1rem;
    }
    .alice-carousel {
        height: 53vh
    }
}
