:root {
  --component-width: 300px;
  --component-height: 300px;
}

.home {
  text-align: center;
}

.logo-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  border: 1px solid black;
  width: var(--component-width);
  height: var(--component-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #70AD47;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.carousel {
  border: 1px solid black;
  width: var(--component-width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel i {
  margin: auto 0.5rem;
  font-size: 1.5rem;
}

@media (min-width: 630px) {
  :root {
    --component-width: 500px;
    --component-height: 500px;
  }
}

@media (min-width: 1200px) {
  :root {
    --component-width: 700px;
    --component-height: 700px;
  }
}
